@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 100%;
    height: 100vh;
    border: none;
    background-color: rgb(255, 238, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-content{
    border-radius: 15px;
    border: 0;
    width: 700px;
    height: 500px;
    display: flex;
}
.card .card-img{
    width: 350px;
    height: 500px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url(Channel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.card .card-text{
    width: 350px;
    padding: 30px;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card .card-text .perfume{
    font-family: "Poppins", system-ui;
    font-weight: 100;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.card .card-text h2{
    font-family: "Caprasimo", system-ui;
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 10px;
}

.card .card-text .description{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 10px;
}

 .card .card-text .price{
    
    justify-content: space-between;
}

.card .card-text .prices .price{
    font-family: "Caprasimo", system-ui;
    font-size: 34px;
    color: #007f5f;
    }
.card .card-text .prices .previous-price{
    margin: 20px;
    text-decoration: line-through;
    position: relative;
    vertical-align: middle;
    top: -6px;
    columns: #888;
} 

.card .card-text .btn{
    width: 100%;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: #52b788;
    color: white;
    font-size: 18px;
} 